/** Add any CSS you need to this file. */
/* Add a black background color to the top navigation */
body{
  margin:0;
}

html { 
  font-family: Gotham, Verdana, sans-serif;
  font-style:normal;
  font-weight:400;
  color:initial;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.topnav {
    background-color: #333;
    overflow: hidden;
    height: 75px;
    padding: 20px 0 0 0;
    background-color: #161616;
    display: flex;
    opacity: 0.8;
    top:0;
    position: sticky;
    z-index: 99;
}

.logoContainer{
  min-width:15%;
}

.menulink{
  text-align: center;
  border: 0 none;
  margin: 0;
  padding: 0;
  color: #fff;
  text-decoration: none; 
}

.searchcontainer input {
  padding: 9px 20px 0 20px;
  align-content: right;
  text-align: left;
  text-decoration: none;
  font-size: 16px;
  border: 0 none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid transparent;
  border-color: #fff;
  background: transparent;
  transition: width .6s;
  caret-color:#fff;
  color: #fff
}

.searchcontainer input:focus{
  outline: none;
}

.searchcontainer{
  width:50%;
  align-content: right;
}

.navcontainer{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  height:60px;
  font-weight: 600;
  display: flex;
} 

.menucontainer{
  display:block;
  display: flex;
  width: 50%;
}
.menucontainer ul{
  padding: 9px 20px 0 20px;
  list-style: none;
  margin: 0 auto;
  max-width: 1080px;
  display: flex;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.searchcontainer div{
  padding: 9px 20px 0 20px;
  list-style: none;
  margin: 0 auto;
  display: flex;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  position: absolute;
  right: 10%;
}

.banner-section{
  min-height:70px;
  min-width:100%;
  float:left;
}

.content-section{
  margin-left: 7.5%;
  margin-right: 7.5%;
  width:85%;
  display:inline-flex;
}

.category-section{
  max-width: 15%;
  min-width: 15%;
  border-left: 20px;
  border-right:20px;
  position: sticky;
  opacity: 0.8;
}

.menucontainer li{
  text-align: center;
  flex:1;
  min-width:50px;
  margin-right: 60px;
}

.logocontainer img {
  max-width: 100%;   
  max-height: 40px;
  float: left; 
}

.collapsible {
  background-color: #161616;
  color: white;
  padding: 8px;
  margin: 2px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-radius: 10px;
  width: 95%;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  border-radius: 10px;
}

.product-section{
  margin-left:30px;
}

.product-card{
  width: 400px;
  height: 400px;
  float: left;
  position:relative;
  margin: 0px 15px 60px 15px;
  font-weight: 600;
  font-size:14px;
}

.product-images img{
  position: absolute;
  max-width:100%;
  max-height:100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: opacity 1s ease-in-out;
}

.product-images{
	top:0;
	position: absolute;
	width: 400px;
	height:320px;
	overflow:hidden;
	background-color: #161616;
}

.product-details{
	position:absolute;
	display:block;	
	bottom:0;
}

.product-details ul{
  list-style: none;
  padding-inline-start: 0px;
  margin-block-start: 0;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.prev{
  left: 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 1px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.2s ease;
}

.activedot, .activedot:hover {
  background-color: #717171;
}

.slidedots{
  position:absolute;
  text-align: center;
  font-size: 5;
  bottom:45px;
  width:100%;
}

.inactiveimage{
  opacity: 0;
}

.activeimage{
  opacity: 1;
}